@{
    ViewBag.Title = "Contact";
}

<br />

<h1>
    Customer Service
</h1>
<br />

<center>
    <iframe allow="microphone;"
            width="650"
            height="430"
            src="https://console.dialogflow.com/api-client/demo/embedded/60ab2476-a2ea-4261-80cd-31420190e810"></iframe>
</center>

<h1>Call us at +1 210-802-3125</h1>