
@{
    ViewBag.Title = "Package";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<div>


    <img src="~/Content/image1.jpg" width="350" height="300" align="left" />
    <h1>Goa</h1>
    <div style="margin-left:450px">
        <h4>Duration:</h4>   <h5>5 days 6 Nights</h5> <br />
        <h4>Date: </h4>     <h5>12/11/2018</h5><br />
        <h4>Pick up: </h4>     <h5>Ahmedabad Airport</h5><br />
        <button onclick="location.href='https://imjo.in/2cQHZp'" type="button" style="border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;">
            10 Rs
        </button>

    </div>
</div>

<br /><br />
<img src="~/Content/image2.jpg" width="350" height="300" align="left" />
<h1>Kerala</h1>
<div style="margin-left:450px">
    <h4>Duration:</h4>   <h5>3 days 4 Nights</h5> <br />
    <h4>Date: </h4>     <h5>10/11/2018</h5><br />
    <h4>Pick up: </h4>     <h5>Surat Airport</h5><br />
    <button onclick="location.href='https://imjo.in/XJTxUc'" type="button" style="border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;">
        11 Rs
    </button>
</div>

<br /><br />
<img src="~/Content/image3.jpg" width="350" height="300" align="left" />
<h1>Manali</h1>
<div style="margin-left:450px">
    <h4>Duration:</h4>   <h5>7 days 8 Nights</h5> <br />
    <h4>Date: </h4>     <h5>25/11/2018</h5><br />
    <h4>Pick up: </h4>     <h5>Vadodara Airport</h5><br />
    <button onclick="location.href='https://imjo.in/rXEqu5'" type="button" style="border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;">
        9 Rs
    </button>
</div>

<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
